<form name="hikeForm" class="form-horizontal" role="form">

  <!-- From -->
  <div class="form-group">
    <label for="inputFrom" class="col-sm-2 control-label">From</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputFrom"
        placeholder="From" ng-model="hike.from" required>
    </div>
  </div>

  <!-- To -->
  <div class="form-group">
    <label for="inputTo" class="col-sm-2 control-label">To</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputTo"
        placeholder="To" ng-model="hike.to" required>
    </div>
  </div>

  <!-- Organizer -->
  <div class="form-group">
    <label for="inputOrganizer" class="col-sm-2 control-label">Organizer</label>
    <div class="col-sm-3">
      <select class="form-control" data-ng-model="selectedOrganizer" id="inputOrganizer" data-ng-options="p.name for p in persons">
        <option value=""> - Select organizer - </option>
      </select>
    </div>
  </div>

  <!-- Sections -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Sections<br/>(<a href ng-click="sections.push({})">Add</a>)</label>
    <div class="col-md-6">
      <div ng-repeat="section in sections">
        <div class="form-group row">
          <div class="col-md-4">
            <input class="form-control" id="inputKey" placeholder="From"
              ng-model="section.from" type="text">
          </div>
          <div class="col-md-4">
            <input class="form-control" id="inputValue" placeholder="To"
              ng-model="section.to" type="text">
          </div>
          <div>
            <button class="btn btn-default" ng-click="sections.splice($index, 1)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="form-group">
    <div class="col-md-offset-2 col-sm-1">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
    <div class="col-sm-9">
      <button class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>

</form>
